# 1. Python Data Model

In [1]:
import collections

Card = collections.namedtuple("Card", ["rank", "suit"])

class FrenchDeck:
	ranks = [str(n) for n in range(2, 11)] + list("JQKA")
	suits = "spades diamonds clubs hearts".split()

	def __init__(self):
		self._cards = [Card(rank, suit) for suit in self.suits for rank in self.ranks]

	def __len__(self):
		return len(self._cards)

	def __getitem__(self, position):
		return self._cards[position]

In [2]:
beer_card = Card('7', 'diamonds')
beer_card

Card(rank='7', suit='diamonds')

In [3]:
deck = FrenchDeck()
len(deck)

52

In [4]:
print(deck[0])
print(deck[-1])

Card(rank='2', suit='spades')
Card(rank='A', suit='hearts')

In [5]:
print(deck[:3], "\n")

for card in deck:
	print(card)

[Card(rank='2', suit='spades'), Card(rank='3', suit='spades'), Card(rank='4', suit='spades')]

Card(rank='2', suit='spades')
Card(rank='3', suit='spades')
Card(rank='4', suit='spades')
Card(rank='5', suit='spades')
Card(rank='6', suit='spades')
Card(rank='7', suit='spades')
Card(rank='8', suit='spades')
Card(rank='9', suit='spades')
Card(rank='10', suit='spades')
Card(rank='J', suit='spades')
Card(rank='Q', suit='spades')
Card(rank='K', suit='spades')
Card(rank='A', suit='spades')
Card(rank='2', suit='diamonds')
Card(rank='3', suit='diamonds')
Card(rank='4', suit='diamonds')
Card(rank='5', suit='diamonds')
Card(rank='6', suit='diamonds')
Card(rank='7', suit='diamonds')
Card(rank='8', suit='diamonds')
Card(rank='9', suit='diamonds')
Card(rank='10', suit='diamonds')
Card(rank='J', suit='diamonds')
Card(rank='Q', suit='diamonds')
Card(rank='K', suit='diamonds')
Card(rank='A', suit='diamonds')
Card(rank='2', suit='clubs')
Card(rank='3', suit='clubs')
Card(rank='4', suit='clubs')
Card(rank='5', suit='clubs')
Card(rank='6', suit='clubs')
Card(rank='7', suit='clubs')
Card(rank='8', suit='clubs')
Card(rank='9', suit='clubs')
Card(rank='10', suit='clubs')
Card(rank='J', suit='clubs')
Card(rank='Q', suit='clubs')
Card(rank='K', suit='clubs')
Card(rank='A', suit='clubs')
Card(rank='2', suit='hearts')
Card(rank='3', suit='hearts')
Card(rank='4', suit='hearts')
Card(rank='5', suit='hearts')
Card(rank='6', suit='hearts')
Card(rank='7', suit='hearts')
Card(rank='8', suit='hearts')
Card(rank='9', suit='hearts')
Card(rank='10', suit='hearts')
Card(rank='J', suit='hearts')
Card(rank='Q', suit='hearts')
Card(rank='K', suit='hearts')
Card(rank='A', suit='hearts')

In [6]:
class MyContainer:
    def __init__(self, items):
        self.items = items

    def __getitem__(self, position):
	    return self.items[position]


container = MyContainer([1, 2, 3])
print(2 in container)

True

In [7]:
print(Card('Q', 'hearts') in deck)
print(Card('7', 'beast') in deck)

True
False

In [8]:
suit_values = dict(spades=3, hearts=2, diamonds=1, clubs=0)

def spades_high(card):
    rank_value = FrenchDeck.ranks.index(card.rank)
    return rank_value * len(suit_values) + suit_values[card.suit]

for card in sorted(deck, key=spades_high):
    print(card)

Card(rank='2', suit='clubs')
Card(rank='2', suit='diamonds')
Card(rank='2', suit='hearts')
Card(rank='2', suit='spades')
Card(rank='3', suit='clubs')
Card(rank='3', suit='diamonds')
Card(rank='3', suit='hearts')
Card(rank='3', suit='spades')
Card(rank='4', suit='clubs')
Card(rank='4', suit='diamonds')
Card(rank='4', suit='hearts')
Card(rank='4', suit='spades')
Card(rank='5', suit='clubs')
Card(rank='5', suit='diamonds')
Card(rank='5', suit='hearts')
Card(rank='5', suit='spades')
Card(rank='6', suit='clubs')
Card(rank='6', suit='diamonds')
Card(rank='6', suit='hearts')
Card(rank='6', suit='spades')
Card(rank='7', suit='clubs')
Card(rank='7', suit='diamonds')
Card(rank='7', suit='hearts')
Card(rank='7', suit='spades')
Card(rank='8', suit='clubs')
Card(rank='8', suit='diamonds')
Card(rank='8', suit='hearts')
Card(rank='8', suit='spades')
Card(rank='9', suit='clubs')
Card(rank='9', suit='diamonds')
Card(rank='9', suit='hearts')
Card(rank='9', suit='spades')
Card(rank='10', suit='clubs')
Card(rank='10', suit='diamonds')
Card(rank='10', suit='hearts')
Card(rank='10', suit='spades')
Card(rank='J', suit='clubs')
Card(rank='J', suit='diamonds')
Card(rank='J', suit='hearts')
Card(rank='J', suit='spades')
Card(rank='Q', suit='clubs')
Card(rank='Q', suit='diamonds')
Card(rank='Q', suit='hearts')
Card(rank='Q', suit='spades')
Card(rank='K', suit='clubs')
Card(rank='K', suit='diamonds')
Card(rank='K', suit='hearts')
Card(rank='K', suit='spades')
Card(rank='A', suit='clubs')
Card(rank='A', suit='diamonds')
Card(rank='A', suit='hearts')
Card(rank='A', suit='spades')

In [9]:
import math

class Vector:
    def __init__(self, x=0, y=0) -> None:
        self.x = x
        self.y = y

    def __repr__(self) -> str:
        return f"Vector({self.x!r}, {self.y!r})"
    
    def __abs__(self):
        return math.hypot(self.x, self.y)
    
    def __bool__(self):
        return bool(abs(self))
    
    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        return Vector(x, y)
    
    def __mul__(self, scalar):
        return Vector(self.x*scalar, self.y*scalar)

In [107]:
v1 = Vector(2,4)
v2 = Vector(2,1)

In [108]:
print("__abs__ usage: ", abs(v1))
print("__add__ usage: ", v1+v2)
print("__mul__ usage: ", v1*3)

__abs__ usage:  4.47213595499958
__add__ usage:  Vector(4, 5)
__mul__ usage:  Vector(6, 12)

In [113]:
v1 = Vector(2,4)
v2 = Vector(0,0)
aList = [1,2,3]

print(bool(v1))
print(bool(v2))
print(bool(aList))

True
False
True

# 2. An Array of Sequences

In [194]:
from collections import abc

print(issubclass(tuple, abc.Sequence))
print(issubclass(list, abc.MutableSequence))

True
True

In [52]:
symbols = '$c£p`≠'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 99, 163, 112, 96, 8800]

In [53]:
codes = [ord(symbol) for symbol in symbols]

codes

[36, 99, 163, 112, 96, 8800]

In [55]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]

beyond_ascii

[163, 8800]

In [56]:
beyond_ascii = list(filter(lambda symbol: symbol > 127, map(ord, symbols)))

beyond_ascii

[163, 8800]

In [199]:
import timeit

TIMES = 10000

SETUP = """
symbols = '$¢£¥€¤'
def non_ascii(c):
    return c > 127
"""

def clock(label, cmd):
    res = timeit.repeat(cmd, setup=SETUP, number=TIMES)
    print(label, *(f'{x:.3f}' for x in res))

clock('listcomp        :', '[ord(s) for s in symbols if ord(s) > 127]')
clock('listcomp + func :', '[ord(s) for s in symbols if non_ascii(ord(s))]')
clock('filter + lambda :', 'list(filter(lambda c: c > 127, map(ord, symbols)))')
clock('filter + func   :', 'list(filter(non_ascii, map(ord, symbols)))')

listcomp        : 0.003 0.003 0.004 0.003 0.003
listcomp + func : 0.005 0.005 0.005 0.005 0.005
filter + lambda : 0.004 0.004 0.004 0.004 0.004
filter + func   : 0.004 0.005 0.004 0.004 0.004

In [200]:
colors = ["black", "white"]
sizes = ["S", "M", "L"]

[(color, size) for color in colors for size in sizes]

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [201]:
[(color, size) for size in sizes for color in colors]

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

In [203]:
import array
symbols = '$c£p`≠'

tuple_instance = tuple(ord(symbol) for symbol in symbols)
array_instance = array.array("I", (ord(symbol) for symbol in symbols))

print(tuple_instance)
print(array_instance)

(36, 99, 163, 112, 96, 8800)
array('I', [36, 99, 163, 112, 96, 8800])

In [62]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])

print(a)
print(b)
print(a==b)

(10, 'alpha', [1, 2])
(10, 'alpha', [1, 2])
True

In [63]:
b[-1].append(99)

print(a)
print(b)
print(a==b)

(10, 'alpha', [1, 2])
(10, 'alpha', [1, 2, 99])
False

In [68]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

a = (10, 'alpha', [1,2])
b = (10, 'alpha', (1,2))
c = (10, 'alpha', {'key1': "value1"})
d = (10, 'alpha', {'key2': [0,1]})
e = (10, 'alpha', 99)

print(fixed(a))
print(fixed(b))
print(fixed(c))
print(fixed(d))
print(fixed(e))

False
True
False
False
True

In [69]:
a = (10, 20, 30)
b = tuple(a)

c = [10, 20, 30]
d = list(a)


print(a is b)
print(c is d)

True
False

In [81]:
import sys

print(sys.getsizeof(tuple(iter(range(10)))))
print(sys.getsizeof(list(iter(range(10)))))

120
136

In [88]:
a = (1,2,4)
a = set(a)

In [93]:
it = iter(a)

In [99]:
divmod(20, 8)

(2, 4)

In [104]:
t = (20, 8)
quotient, remainder = divmod(*t)

print("quotient: ", quotient)
print("remainder: ", remainder)

quotient:  2
remainder:  4

In [209]:
import os

_, filename = os.path.split("/home/simone/book/book.pub")

In [105]:
t = (20, 8)
quotient, remainder = divmod(t)

print("quotient: ", quotient)
print("remainder: ", remainder)

TypeError: divmod expected 2 arguments, got 1

In [210]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [211]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [212]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [213]:

a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [214]:

*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [122]:
def fun(a, b, c, d, *rest):
    print("a: ", a)
    print("b: ", b)
    print("c: ", c)
    print("d: ", d)
    print("rest: ", rest)

fun(*[1,2], 3, *range(4,7))
fun(*[1,2], 3, 10, *range(4,7))
fun(*[1,2], 3, 10, 22, *range(4,7))

a:  1
b:  2
c:  3
d:  4
rest:  (5, 6)
a:  1
b:  2
c:  3
d:  10
rest:  (4, 5, 6)
a:  1
b:  2
c:  3
d:  10
rest:  (22, 4, 5, 6)

In [216]:
my_list = [10, 20, 30, 40, 50, 60]

sliced_list = my_list[2:5]
print(sliced_list)
print(len(sliced_list))

[30, 40, 50]
3

In [125]:
my_list = [10, 20, 30, 40, 50, 60]

print(my_list[:3])
print(my_list[3:])

[10, 20, 30]
[40, 50, 60]

In [219]:
lst = [0, 1, 2, 3, 4, 5]

In [220]:
lst[::]

[0, 1, 2, 3, 4, 5]

In [221]:
lst[::2]

[0, 2, 4]

In [222]:
lst[::3]

[0, 3]

In [226]:
lst[1::2]

[1, 3, 5]

In [224]:
lst[:4:2]

[0, 2]

In [268]:
invoice = """
0.....6.................................40........52...55........
1909 Pimoroni PiBrella                      $17.50    3    $52.50
1489 6mm Tactile Switch x20                  $4.95    2    $9.90
1510 Panavise Jr. - PV-201                  $28.00    1    $28.00
1601 PiTFT Mini Kit 320x240                 $34.95    1    $34.95
"""

SKU = slice(0, 5)
DESCRIPTION = slice(5, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
    print(item[SKU], item[DESCRIPTION], item[UNIT_PRICE], item[QUANTITY], item[ITEM_TOTAL])

1909  Pimoroni PiBrella                       $17.50     3     $52.50
1489  6mm Tactile Switch x20                   $4.95     2     $9.90
1510  Panavise Jr. - PV-201                   $28.00     1     $28.00
1601  PiTFT Mini Kit 320x240                  $34.95     1     $34.95

In [248]:
SKU = slice(0, 4)
DESCRIPTION = slice(4, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:]
for item in line_items:
    # print(item[SKU], item[DESCRIPTION], item[UNIT_PRICE], item[QUANTITY], item[ITEM_TOTAL])
    print(item)

1909 Pimoroni PiBrella $17.50 3 $52.50
1489 6mm Tactile Switch x20 $4.95 2 $9.90
1510 Panavise Jr. - PV-201 $28.00 1 $28.00
1601 PiTFT Mini Kit 320x240 $34.95 1 $34.95

In [269]:
"a " + "string"

'a string'

In [271]:
[1, 2, 3] + [11, 12, 13]

[1, 2, 3, 11, 12, 13]

In [274]:
[1, 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [273]:
'abcd' * 5

'abcdabcdabcdabcdabcd'

In [278]:
nested_lists = [["_"] * 2 for _ in range(3)]
nested_lists

[['_', '_'], ['_', '_'], ['_', '_']]

In [280]:
nested_lists[1][1] = "X"
nested_lists

[['_', '_'], ['_', 'X'], ['_', '_']]

In [285]:
complete_list = []
for _ in range(3):
    single_nested_list = ["_"] * 2
    complete_list.append(single_nested_list)

complete_list

[['_', '_'], ['_', '_'], ['_', '_']]

In [286]:
complete_list[1][1] = "X"
complete_list

[['_', '_'], ['_', 'X'], ['_', '_']]

In [289]:
wrong_complete_list = [["_"] * 2] * 3
wrong_complete_list

[['_', '_'], ['_', '_'], ['_', '_']]

In [290]:
wrong_complete_list[1][1] = "X"
wrong_complete_list

[['_', 'X'], ['_', 'X'], ['_', 'X']]

In [292]:
wrong_complete_list = []
single_nested_list = ["_"] * 2

for _ in range(3):
     wrong_complete_list.append(single_nested_list)

wrong_complete_list

[['_', '_'], ['_', '_'], ['_', '_']]

In [293]:
wrong_complete_list[1][1] = "X"
wrong_complete_list

[['_', 'X'], ['_', 'X'], ['_', 'X']]

In [296]:
alist = [1, 2, 3]
id(alist)

4470769792

In [297]:
alist += [11, 12, 13]
id(alist)

4470769792

In [298]:
alist

[1, 2, 3, 11, 12, 13]

In [299]:
atuple = (1, 2, 3)
id(atuple)

4478327040

In [300]:
atuple += (11, 12, 13)
id(atuple)

4474998592

In [301]:
atuple

(1, 2, 3, 11, 12, 13)

In [302]:
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [303]:
t

(1, 2, [30, 40, 50, 60])

In [304]:
t = (1, 2, [30, 40])
t[2].extend([50, 60])
t

(1, 2, [30, 40, 50, 60])

In [32]:
from abc import ABC, abstractmethod

class QuackBehaviour(ABC):
     @abstractmethod
     def quack(self):
          pass

class FlyBehaviour(ABC):
     @abstractmethod
     def fly(self):
          pass

class Duck():
    def __init__(self, quackBehaviour, flyBehaviour):
        self.quackBehaviour = quackBehaviour
        self.flyBehaviour = flyBehaviour

    def performQuack(self):
        self.quackBehaviour.quack()

    def performFly(self):
        self.flyBehaviour.fly()

In [33]:
class Quack(QuackBehaviour):
	def quack(self):
		print("Quack! Quack!")

class Squeak(QuackBehaviour):
	def quack(self):
		print("Squeak! Squeak!")

class MuteQuack(QuackBehaviour):
	def quack(self):
		print("I'm not able to quack.")

class FlyWithWings(FlyBehaviour):
	def fly(self):
		print("I'm flying with wings.")

class FlyNoWay(FlyBehaviour):
	def fly(self):
		print("I'm not able to fly.")

class MallardDuck(Duck):
    def __init__(self):
        super().__init__(quackBehaviour=Quack(), flyBehaviour=FlyWithWings())
        
    def display(self):
        print("I'm a real Mallard Duck")

In [34]:
aMallardDuck = MallardDuck()

In [35]:
aMallardDuck.performFly()
aMallardDuck.performQuack()

I'm flying with wings.
Quack! Quack!

In [36]:
class Duck():
    def __init__(self, quackBehaviour, flyBehaviour):
        self.quackBehaviour = quackBehaviour
        self.flyBehaviour = flyBehaviour

    def performQuack(self):
        self.quackBehaviour.quack()

    def performFly(self):
        self.flyBehaviour.fly()

    def setFlyBehaviour(self, fb):
        self.flyBehaviour = fb

    def setQuackBehaviour(self, qb):
        self.quackBehaviour = qb

In [37]:
class ModelDuck(Duck):
    def __init__(self):
        super().__init__(quackBehaviour=Quack(), flyBehaviour=FlyNoWay())
        
    def display(self):
        print("I'm a real Model Duck")

In [38]:
aModelDuck = ModelDuck()

aModelDuck.performFly()
aModelDuck.performQuack()

I'm not able to fly.
Quack! Quack!

In [39]:
aModelDuck.setFlyBehaviour(FlyWithWings())

aModelDuck.performFly()
aModelDuck.performQuack()

I'm flying with wings.
Quack! Quack!

In [309]:
fruits = ['apple', 'grape', 'raspberry', 'banana']
fruits_inplace = ['apple', 'grape', 'raspberry', 'banana']

In [310]:
fruits_sorted_notinplace = sorted(fruits, key=len)
fruits_sorted_notinplace

['apple', 'grape', 'banana', 'raspberry']

In [314]:
type(sorted(fruits, key=len))

list

In [313]:
type(fruits_inplace.sort(key=len))

NoneType

In [312]:
fruits_inplace

['apple', 'grape', 'banana', 'raspberry']

In [1]:
from random import random
from array import array

In [2]:
%%time
list_created = [random() for i in range(10**5)]

CPU times: user 5.42 ms, sys: 573 µs, total: 5.99 ms
Wall time: 6.23 ms

In [3]:
%%time 
array_created = array('d', (random() for i in range(10**5)))

CPU times: user 12.3 ms, sys: 1.03 ms, total: 13.3 ms
Wall time: 15.4 ms

# 03. Dictionary and Sets

In [330]:
dial_codes = [
    (880, 'Bangladesh'),
    (55, 'Brazil'),
    (86, 'China'),
    (62, 'Indonesia')
]

country_dial = {country: code for (code, country) in dial_codes}
country_dial

{'Bangladesh': 880, 'Brazil': 55, 'China': 86, 'Indonesia': 62}

In [332]:
country_dial_2 = {code: country.upper() for country, code in sorted(country_dial.items()) if code < 70}

In [333]:
country_dial_2

{55: 'BRAZIL', 62: 'INDONESIA'}

In [ ]:
{code: country.upper() for country, code in sorted(country_dial.items()) if code < 70}

In [338]:
def dumps(**kwargs):
    return kwargs

dumps(**{'x': 3, 'y': 10}, z='4', **{'s': 15})

{'x': 3, 'y': 10, 'z': '4', 's': 15}

In [341]:
{**{'x': 3, 'y': 10}, 'z': '4', **{'x': 15}}

{'x': 15, 'y': 10, 'z': '4'}

In [342]:
d1 = {'a': 1, 'b': 2}
d2 = {'x': 10, 'a': 20}

d1 | d2

{'a': 20, 'b': 2, 'x': 10}

In [344]:
d1 |= d2
d1

{'a': 20, 'b': 2, 'x': 10}

In [6]:
tt = (1, 2, (30, 40))
hash(tt)

-3907003130834322577

In [9]:
tl = (1, 2, [30, 40])
hash(tl)

TypeError: unhashable type: 'list'

In [10]:
tf = (1, 2, frozenset([30, 40]))
hash(tf)

5149391500123939311

In [12]:
class aList(list):
    pass

hash(aList)

340521741

In [29]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
d1.update(d2)
d1

{'a': 1, 'b': 3, 'c': 4}

In [28]:
d = {'a': 1}
d.update([('b', 2), ('c', 3)])  # List of tuples
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d.update((('d', 4), ('e', 5))) # Tuple of tuples
print(d)

In [31]:
list_of_tuples = [('b', 2), ('c', 3)]
dict_from_list_of_tuples = dict(list_of_tuples)
dict_from_list_of_tuples

{'b': 2, 'c': 3}

In [32]:
tuple_of_tuples = (('b', 2), ('c', 3))
dict_from_tuple_of_tuples = dict(tuple_of_tuples)
dict_from_tuple_of_tuples

{'b': 2, 'c': 3}

In [51]:
import re

WORD_RE = re.compile(r'\w+')

index = {}
with open("find_word_test.txt", encoding='utf-8') as fp:
    for line_no, line in enumerate(fp, 1):
        for match in WORD_RE.finditer(line):
            word = match.group()
            column_no = match.start() + 1
            location = (line_no, column_no)

            occurrences = index.get(word, [])
            occurrences.append(location)
            index[word] = occurrences

for word in sorted(index, key=str.upper):
    print(word, index[word])

29 [(2, 10)]
a [(1, 10), (4, 9)]
am [(1, 7), (2, 7)]
and [(2, 1)]
developer [(1, 20)]
file [(4, 15)]
hi [(1, 1)]
I [(1, 5), (2, 5)]
is [(4, 6)]
my [(4, 28)]
old [(2, 19)]
script [(5, 1)]
sofware [(1, 12)]
text [(4, 23)]
This [(4, 1)]
to [(4, 20)]
txt [(4, 11)]
years [(2, 13)]

In [52]:
import re

WORD_RE = re.compile(r'\w+')

index = {}
with open("find_word_test.txt", encoding='utf-8') as fp:
    for line_no, line in enumerate(fp, 1):
        for match in WORD_RE.finditer(line):
            word = match.group()
            column_no = match.start() + 1
            location = (line_no, column_no)

            index.setdefault(word, []).append(location)

for word in sorted(index, key=str.upper):
    print(word, index[word])

29 [(2, 10)]
a [(1, 10), (4, 9)]
am [(1, 7), (2, 7)]
and [(2, 1)]
developer [(1, 20)]
file [(4, 15)]
hi [(1, 1)]
I [(1, 5), (2, 5)]
is [(4, 6)]
my [(4, 28)]
old [(2, 19)]
script [(5, 1)]
sofware [(1, 12)]
text [(4, 23)]
This [(4, 1)]
to [(4, 20)]
txt [(4, 11)]
years [(2, 13)]

In [71]:
from collections import defaultdict

count = defaultdict(int)
count['apple'] += 1

print(count)

defaultdict(<class 'int'>, {'apple': 1})

In [72]:
grouped_words = defaultdict(list)
grouped_words['fruits'].append('apple')

print(grouped_words)

defaultdict(<class 'list'>, {'fruits': ['apple']})

In [73]:
import re
from collections import defaultdict

WORD_RE = re.compile(r'\w+')

index = defaultdict(list)
with open("find_word_test.txt", encoding='utf-8') as fp:
    for line_no, line in enumerate(fp, 1):
        for match in WORD_RE.finditer(line):
            word = match.group()
            column_no = match.start() + 1
            location = (line_no, column_no)

            index[word].append(location)

for word in sorted(index, key=str.upper):
    print(word, index[word])

29 [(2, 10)]
a [(1, 10), (4, 9)]
am [(1, 7), (2, 7)]
and [(2, 1)]
developer [(1, 20)]
file [(4, 15)]
hi [(1, 1)]
I [(1, 5), (2, 5)]
is [(4, 6)]
my [(4, 28)]
old [(2, 19)]
script [(5, 1)]
sofware [(1, 12)]
text [(4, 23)]
This [(4, 1)]
to [(4, 20)]
txt [(4, 11)]
years [(2, 13)]

In [95]:
class PowerfulDictionary(dict):
    def __missing__(self, key):
        if isinstance(key, str):
            raise KeyError(key)
        return self[str(key)]
    
    def get(self, key, default=None):
        try:
            return self[key]
        except KeyError:
            return default
        
    def __contains__(self, key):
        return key in self.keys() or str(key) in self.keys()
    
d = PowerfulDictionary([("2", "two"), ("4", "four")])

In [96]:
d.get(2)

'two'

In [99]:
"2" in d

True

# 05. Data Class Builders

In [30]:
class Coordinate:
	def __init__(self, lat, lon):
		self.lat = lat
		self.lon = lon

moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)


print(moscow)
print(location == moscow)
print((location.lat, location.lon) == (moscow.lat, moscow.lon))

<__main__.Coordinate object at 0x10a84f6d0>
False
True

In [31]:
from collections import namedtuple

Coordinate = namedtuple("Coordinate", "lat lon")

moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)


print(issubclass(Coordinate, tuple))
print(moscow)
print(location == moscow)

True
Coordinate(lat=55.76, lon=37.62)
True

In [32]:
new_dictionary = moscow._asdict()
new_dictionary

{'lat': 55.76, 'lon': 37.62}

In [33]:
import typing

# Alternative 1
Coordinate = typing.NamedTuple("Coordinate", [("lat", "float"), ("lon", "float")])
# Alternative 2
Coordinate = typing.NamedTuple("Coordinate", lat=float, lon=float)

moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)


print(issubclass(Coordinate, tuple))
print(moscow)
print(location == moscow)

True
Coordinate(lat=55.76, lon=37.62)
True

In [36]:
print(moscow._fields)
print(moscow._field_defaults)

('lat', 'lon')
{}

In [4]:
from typing import NamedTuple

class Coordinate(NamedTuple):
	lat: float
	lon: float

	def __str__(self):
		ns = "N" if self.lat >= 0 else "S"
		we = "E" if self.lon >= 0 else "W"
		return f"{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}"
	
print(issubclass(Coordinate, typing.NamedTuple))
print(issubclass(Coordinate, tuple))

TypeError: issubclass() arg 2 must be a class, a tuple of classes, or a union

In [25]:
from dataclasses import dataclass

@dataclass
class Coordinate:
    lat: float
    lon: float

    def __str__(self) -> str:
        ns = "N" if self.lat >= 0 else "S"
        we = "E" if self.lon >= 0 else "W"
        return f"{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}"
    
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)


print(issubclass(Coordinate, object))
print(moscow)
print(location == moscow)

True
55.8°N, 37.6°E
True

In [26]:
from typing import get_type_hints
import inspect

print(Coordinate.__annotations__)
print(inspect.get_annotations(Coordinate))
print(get_type_hints(Coordinate))

{'lat': <class 'float'>, 'lon': <class 'float'>}
{'lat': <class 'float'>, 'lon': <class 'float'>}
{'lat': <class 'float'>, 'lon': <class 'float'>}

In [28]:
from dataclasses import asdict

d = asdict(moscow)
d

{'lat': 55.76, 'lon': 37.62}

In [29]:
from dataclasses import fields

fields(moscow)

(Field(name='lat',type=<class 'float'>,default=<dataclasses._MISSING_TYPE object at 0x1032b5b40>,default_factory=<dataclasses._MISSING_TYPE object at 0x1032b5b40>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD),
 Field(name='lon',type=<class 'float'>,default=<dataclasses._MISSING_TYPE object at 0x1032b5b40>,default_factory=<dataclasses._MISSING_TYPE object at 0x1032b5b40>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD))

In [38]:
from collections import namedtuple

City = namedtuple("City", "name country population coordinates")
tokyo = City("Tokyo", "JP", 36.933, (35.689722, 139.691667))

print(tokyo)
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933
(35.689722, 139.691667)
JP

In [39]:
City._fields

('name', 'country', 'population', 'coordinates')

In [40]:
Coordinate = namedtuple("Coordinate", "lat lon")
delhi_data = ("Delhi NCR", "In", 21.935, Coordinate(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'In',
 'population': 21.935,
 'coordinates': Coordinate(lat=28.613889, lon=77.208889)}

In [43]:
import json
json.dumps(delhi._asdict())

'{"name": "Delhi NCR", "country": "In", "population": 21.935, "coordinates": [28.613889, 77.208889]}'

In [106]:
class DemoPlainClass:
    a: int
    b: float = 1.1
    c = 'spam'

print(DemoPlainClass.__annotations__)
# print(DemoPlainClass.a)
print(DemoPlainClass.b)
print(DemoPlainClass.c)

{'a': <class 'int'>, 'b': <class 'float'>}
1.1
spam

In [107]:
DemoPlainClass.z = 100

In [110]:
class Test:
    def __init__(self, a) -> None:
        self.a = a

test = Test(2)

In [116]:
test.z = 100

In [117]:
test.z

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'z']

In [81]:
from typing import NamedTuple

class DemoNTClass(NamedTuple):
    a: int
    b: float = 1.1
    c = 'spam'

print(DemoNTClass.__annotations__)
print(DemoNTClass.a)
print(DemoNTClass.b)
print(DemoNTClass.c)

{'a': <class 'int'>, 'b': <class 'float'>}
_tuplegetter(0, 'Alias for field number 0')
_tuplegetter(1, 'Alias for field number 1')
spam

In [82]:
nt = DemoNTClass(8)

In [83]:
nt.a = 2

AttributeError: can't set attribute

In [100]:
from dataclasses import dataclass

@dataclass
class DemoDataClass:
    a: int
    b: float = 1.1
    c = 'spam'

In [101]:
DemoDataClass.__annotations__

{'a': int, 'b': float}

In [102]:
DemoDataClass.__doc__

'DemoDataClass(a: int, b: float = 1.1)'

In [103]:
DemoPlainClass.a

AttributeError: type object 'DemoPlainClass' has no attribute 'a'

In [104]:
DemoDataClass.b

1.1

In [105]:
DemoDataClass.c

'spam'

In [42]:
@dataclass
class ClubMember:
    game: str
    guests: list = []

ValueError: mutable default <class 'list'> for field guests is not allowed: use default_factory

In [181]:
from dataclasses import field

@dataclass
class ClubMember:
    name: str
    guests: list = field(default_factory=list)
    athlete: bool = field(default=False, repr=False)

In [182]:
@dataclass
class HackerClubMember(ClubMember):
    all_handles = set()
    handle: str = ''

    def __post_init__(self):
        cls = self.__class__
        if self.handle == '':
            self.handle = self.name.split(" ")[0]
        if self.handle in cls.all_handles:
            msg = f'handle {self.handle!r} already exists.'
            raise ValueError(msg)
        cls.all_handles.add(self.handle)

In [184]:
leo = HackerClubMember("Leo Rochael")
leo

HackerClubMember(name='Leo Rochael', guests=[], handle='Leo')

In [186]:
leo2 = HackerClubMember("Leo DaVinci")
leo2

ValueError: handle 'Leo' already exists.

In [180]:
print(HackerClubMember.handle)
print(HackerClubMember.all_handles)

{'Leo Rochael', 'Leo DaVinci'}

# 06. Object References, Mutability, and Recycling

In [68]:
class Gizmo:
    def __init__(self) -> None:
        print(f"Gizmo id: {id(self)}")

x = Gizmo()
y = Gizmo()*10

Gizmo id: 4584236384
Gizmo id: 4584237776

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [76]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}

lewis = charles
lewis is charles

True

In [77]:
id(charles), id(lewis)

(5453184640, 5453184640)

In [78]:
lewis['balance'] = 950

charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [82]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
print(alex == charles)
print(alex is charles)

True
False

In [85]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2

True

In [86]:
id(t1[-1])

5062094208

In [87]:
t1[-1].append(99)
t1

(1, 2, [30, 40, 99])

In [88]:
id(t1[-1])

5062094208

In [89]:
t1==t2

False

In [90]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [44], (7, 8, 9), 100]
l2: [3, [44], (7, 8, 9)]
l1: [3, [44, 33, 22], (7, 8, 9), 100]
l2: [3, [44, 33, 22], (7, 8, 9, 10, 11)]

In [245]:
def add_function(a, b):
    a += b
    return a

In [253]:
x = 1
y = 2
print("Before:", f"x: {x}", f"y: {y}", "-"*20, sep='\n')
result1 = add_function(x, y)
print("After:", f"x: {x}", f"y: {y}", f"result1: {result1}", sep='\n')

Before:
x: 1
y: 2
--------------------
After:
x: 1
y: 2
result1: 3

In [252]:
list1 = [1, 2]
list2 = [3, 4]
print("Before:", f"list1 = {list1}", f"list2 = {list2}", "-"*20, sep='\n')
result2 = add_function(list1, list2)
print("After:", f"list1 = {list1}", f"list2 = {list2}", f"Result2 = {result2}", sep='\n')

Before:
list1 = [1, 2]
list2 = [3, 4]
--------------------
After:
list1 = [1, 2, 3, 4]
list2 = [3, 4]
Result2 = [1, 2, 3, 4]

In [254]:
"ciao" + " hello"

'ciao hello'

In [256]:
a = "ciao"
b = " hello"
a+=b

In [257]:
a

'ciao hello'

In [269]:
def add_function_with_default(a, b = []):
    a += b
    return a

list1 = [1, 2]

print("Before:", f"list1: {list1}", "-"*20, sep='\n')
result2 = add_function_with_default(list1, list2)
print("First call:", f"list1: {list1}", f"Result2: {result2}", "-"*10, sep='\n')
result2 = add_function_with_default(list1, list2)
print("Second call:", f"list1: {list1}", f"Result2: {result2}", "-"*10, sep='\n')
result2 = add_function_with_default(list1, list2)
print("Third call:", f"list1: {list1}", f"Result2: {result2}", "-"*10, sep='\n')

Before:
list1: [1, 2]
--------------------
First call:
list1: [1, 2, 3, 4]
Result2: [1, 2, 3, 4]
----------
Second call:
list1: [1, 2, 3, 4, 3, 4]
Result2: [1, 2, 3, 4, 3, 4]
----------
Third call:
list1: [1, 2, 3, 4, 3, 4, 3, 4]
Result2: [1, 2, 3, 4, 3, 4, 3, 4]
----------

In [292]:
def append_to_list(value, my_list: list =[]):
    my_list.append(value)
    return my_list

print("First call:", append_to_list(1))  # Expected: [1]
print("Second call:", append_to_list(2))  # Expected: [2] but actually [1, 2]
print("Third call:", append_to_list(3))  # Expected: [3] but actually [1, 2, 3]

First call: [1]
Second call: [1, 2]
Third call: [1, 2, 3]

In [295]:
def append_to_list_fix(value, my_list: list = None):
    if my_list is None:
        my_list = []
    my_list.append(value)
    return my_list

print("First call:", append_to_list_fix(1))  # Expected: [1]
print("Second call:", append_to_list_fix(2))  # Expected: [2]
print("Third call:", append_to_list_fix(3))  # Expected: [3]

First call: [1]
Second call: [2]
Third call: [3]

In [298]:
def append_to_list_fix(value, my_list: list = None):
    if my_list is None:
        my_list = []
    my_list.append(value)
    return my_list

existing_list = [90, 91, 92]

print("First call:", append_to_list_fix(1, existing_list)) # Expected: [90, 91, 92, 1]
print("Second call:", append_to_list_fix(2, existing_list)) # Expected: [90, 91, 92, 2] but actually [90, 91, 92, 1, 2]
print("Third call:", append_to_list_fix(3, existing_list)) # Expected: [90, 91, 92, 3] but actually [90, 91, 92, 1, 2, 3]

First call: [90, 91, 92, 1]
Second call: [90, 91, 92, 1, 2]
Third call: [90, 91, 92, 1, 2, 3]

In [301]:
def append_to_list_fix_definitive(value, my_list: list = None):
    if my_list is None:
        my_list = []
    else:
        my_list = list(my_list) # Alternative: my_list = copy(my_list)
    my_list.append(value)
    return my_list

existing_list = [90, 91, 92]

print("First call:", append_to_list_fix_definitive(1, existing_list)) # Expected: [90, 91, 92, 1]
print("Second call:", append_to_list_fix_definitive(2, existing_list)) # Expected: [90, 91, 92, 2]
print("Third call:", append_to_list_fix_definitive(3, existing_list))  # Expected: [90, 91, 92, 3]

First call: [90, 91, 92, 1]
Second call: [90, 91, 92, 2]
Third call: [90, 91, 92, 3]

# 06. Functions as First-Class Objects

In [309]:
def factorial(n):
    """returns n!"""
    return 1 if n < 2 else n * factorial(n-1)

print(factorial(42))
print(factorial.__doc__)
print(type(factorial))

1405006117752879898543142606244511569936384000000000
returns n!
<class 'function'>

In [311]:
fact = factorial
fact

In [312]:
fact(5)

120

In [318]:
map(factorial, range(11))

In [315]:
list(map(factorial, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [320]:
fruits = ["strawberry", "apple", "cherry"]
sorted(fruits, key=len)

['apple', 'cherry', 'strawberry']

In [322]:
def reverse(word):
    return word[::-1]

print(reverse('testing'))
print(sorted(fruits, key=reverse))

gnitset
['apple', 'strawberry', 'cherry']

In [323]:
list(map(factorial, filter(lambda n: n%2, range(6))))

[1, 6, 120]

In [333]:
[factorial(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

In [334]:
[(n, factorial(n)) for n in range(6) if n%2]

[(1, 1), (3, 6), (5, 120)]

In [341]:
sorted(fruits, key=lambda word: word[::-1])

['apple', 'strawberry', 'cherry']

In [366]:
import random

class BingoCage:
    def __init__(self, items):
        self._items = list(items)
        random.shuffle(self._items)

    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('pick from empty BingoCage')
        
    def __call__(self):
        return self.pick()
    
bingo = BingoCage(range(10))
print(bingo._items)
print(bingo()) # shortcut for bingo.pick()
print(bingo())
print(bingo())

[8, 7, 6, 1, 0, 3, 2, 9, 4, 5]
5
4
9

In [409]:
def tag(name, *content, class_=None, **attrs):
    """Generate one or more HTML tags"""
    if class_ is not None:
        attrs['class'] = class_
    attr_pairs = (f' {attr}="{value}"' for attr, value in sorted(attrs.items()))
    attr_str = ''.join(attr_pairs)
    if content:
        elements = (f'<{name}{attr_str}>{c}</{name}>' for c in content)
        return '\n'.join(elements)
    else:
        return f'<{name}{attr_str} />'

In [381]:
tag('p', 'hello')

'<p>hello</p>'

In [384]:
print(tag('p', 'hello', 'world'))

<p>hello</p>
<p>world</p>

In [385]:
tag('p', 'hello', id=33)

'<p id="33">hello</p>'

In [390]:
tag(content='testing', name='img')

'<img content="testing" />'

In [404]:
print(tag('p', 'hello', 'world', class_='sidebar'))

<p class="sidebar">hello</p>
<p class="sidebar">world</p>

In [410]:
my_tag = {'name': 'img', 'title': 'Sunset Boulevard', 'src': 'sunset.jpg', 'class': 'framed'}
tag(**my_tag)

'<img class="framed" src="sunset.jpg" title="Sunset Boulevard" />'

In [415]:
def f(a, *, b):
    return a, b

print(f(1,b=2))

(1, 2)

In [416]:
def divmod(a, b, /):
	return (a//b, a%b)

In [421]:
divmod(10, 4)

(2, 2)

In [422]:
divmod(a=10, b=4)

TypeError: divmod() got some positional-only arguments passed as keyword arguments: 'a, b'

In [428]:
from functools import reduce
from operator import mul

def factorial(n):
	return reduce(mul, range(1, n+1))

In [460]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
    ]

from operator import itemgetter

for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

print("-"*70)

for city in sorted(metro_data, key=lambda x: x[1]):
    print(city)

('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
----------------------------------------------------------------------
('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [461]:
cc_name = itemgetter(2,0)

for city in metro_data:
    print(cc_name(city))

(36.933, 'Tokyo')
(21.935, 'Delhi NCR')
(20.142, 'Mexico City')
(20.104, 'New York-Newark')
(19.649, 'São Paulo')

In [472]:
def add(a, b, c):
    return a + b + c

args = [1, 2, 3]
result = add(*args)
print(result)  # Output: 6

6

In [473]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])

b[-1].append(99)

print(a)
print(b)

(10, 'alpha', [1, 2])
(10, 'alpha', [1, 2, 99])

In [474]:
t = (1,2,[30,40])
t[2] += [50,60]

TypeError: 'tuple' object does not support item assignment

In [479]:
from __future__ import annotations
from math import hypot
from typing import Tuple, List

Point = Tuple[float, float]

def distance(p_1: Point, p_2: Point) -> float:
	return hypot(p_1[0]-p_2[0], p_1[1]-p_2[1])

square = [(1,1), (1,2), (2,2), (2,1)]
Polygon = List[Point]

def perimeter(polygon: Polygon) -> float:
	pairs = zip(polygon, polygon[1:]+polygon[:1])
	return sum(distance(p1,p2) for p1, p2 in pairs)

perimeter(square)

4.0

In [481]:
pairs = zip(square, square[1:]+square[:1])

In [487]:
[distance(p1,p2) for p1, p2 in pairs]

[]

In [6]:
class MailChimp:
    def __init__(self):
        self.sent_emails = []

    def send_email(self, to_address, subject, body):
        self.sent_emails.append((to_address, subject, body))
        return f"Email sent to {to_address} via MailChimp!"

class EmailSender:
    def __init__(self, email_service=MailChimp()):
        self.email_service = email_service

    def send_email(self, to_address, subject, body):
        return self.email_service.send_email(to_address, subject, body)

# Test
sender1 = EmailSender()
sender2 = EmailSender()

sender1.send_email("user1@example.com", "Hello", "Body1")
sender2.send_email("user2@example.com", "Greetings", "Body2")

# This will print the same internal state because both sender1 and sender2 share the same MailChimp instance.
print(sender1.email_service.sent_emails)  # [('user1@example.com', 'Hello', 'Body1'), ('user2@example.com', 'Greetings', 'Body2')]
print(sender2.email_service.sent_emails)  # [('user1@example.com', 'Hello', 'Body1'), ('user2@example.com', 'Greetings', 'Body2')]

[('user1@example.com', 'Hello', 'Body1'), ('user2@example.com', 'Greetings', 'Body2')]
[('user1@example.com', 'Hello', 'Body1'), ('user2@example.com', 'Greetings', 'Body2')]